<table border="1">
	<tr>
		<th>Name</th>
        <th>Mail</th>
	</tr>
	{% for item in data %}
		<tr>
			<td>{{item.name}}</td>
			<td>{{ item.mail }}</td>
		</tr>
	{% else %}
		<tr>
			<td>No data available.</td>
		</tr>
	{% endfor %}
</table>
